*{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;   

}
 body{
    font-family: Arial, sans-serif;
    /* background-color: aqua; */
     display: flex; 
    justify-content: center;
    height: 100vh;
} 
h1{
  color:lightblue;
  margin:10px;
}
.todo-container{
  background:black;
  margin: 20px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
}
input{
    width: 60%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
button{
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: darkorange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
li{
/* list-style: none; */
  padding: 8px;
  margin: 5px 0;
  background: #eee;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}


    
